<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Landing Page</title>
  </head>

  <body [ngClass]="{'dark-theme': isDarkTheme | async}" >
    <div class="mat-app-background">

      <div class="shell-container ">
        <mat-toolbar color="primary">
          <mat-toolbar-row class="toolbar-row" flex>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon matTooltip="Menu"> menu </mat-icon>
            </button>
            <div class="mat-headline name" (click)="home()" matTooltip="Home">Joe Kang</div>
            <div class="flex-spacer"></div>
            <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)" matTooltip="Change theme!">
              <mat-icon>format_color_fill</mat-icon>
            </mat-slide-toggle>
            <button mat-icon-button (click)="profile()">
              <mat-icon matTooltip="Profile">account_circle</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #sidenav >
            <mat-nav-list>
                <a mat-list-item routerLink="home" (click)="sidenav.toggle()">Home</a>
                <mat-divider></mat-divider>
              <a mat-list-item routerLink="playground" (click)="sidenav.toggle()">Playground</a>
              <mat-divider></mat-divider>
              <p matSubheader>Projects</p>
              <a mat-list-item routerLink="cards" (click)="sidenav.toggle()">Cards</a>
              <mat-divider></mat-divider>
            </mat-nav-list>
          </mat-sidenav>

          <mat-sidenav-content>
            <router-outlet></router-outlet>
            <div class="footer"></div>
          </mat-sidenav-content>

        </mat-sidenav-container>
      </div>
    </div>
  </body>

</html>
