mat-card {
  max-width: 400px;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
}

img {
  transition: 0.25s;
}

img:hover {
  box-shadow: 3px 3px 3px 3px rgb(133, 131, 131);
  transform: translateY(-0.25em);
}
