<mat-card class="mat-elevation-z6" [@appearDisappear]="isVisible ? 'appear' : 'disappear'">
  <mat-card-header>
    <mat-card-title>Home</mat-card-title>
  </mat-card-header>
  <div class="logo">
    <a href="https://angular.io/">
      <img mat-card-avatar src="assets/img/angular.png" alt="Angular Logo" matTooltip="Angular">
    </a>
    <a href="https://material.io/design/">
      <img mat-card-avatar src="assets/img/material.png" alt="Material Design Logo" matTooltip="Material Design">
    </a>
    <a href="https://rxjs-dev.firebaseapp.com/">
      <img mat-card-avatar src="assets/img/rxjs.png" alt="RxJS Logo" matTooltip="RxJS">
    </a>
    <a href="https://www.typescriptlang.org/">
      <img mat-card-avatar src="assets/img/ts.png" alt="Typescript Logo" matTooltip="TypeScript">
    </a>
    <a href="https://sass-lang.com/">
      <img mat-card-avatar src="assets/img/sass.png" alt="Sass Logo" matTooltip="Sass">
    </a>
    <a href="https://www.w3.org/">
      <img mat-card-avatar src="assets/img/html.png" alt="Html Logo" matTooltip="HTML">
    </a>
  </div>
  <mat-card-content>
    <p class="content mat-body">
      The purpose of this website is to practice and showcase what I can do with Angular and other technologies.
    </p>
  </mat-card-content>
</mat-card>

