mat-card {
  width: 300px;
}

table {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

td.mat-cell, th.mat-header-cell {
  padding: 8px;
}
